streamlit>=1.32.0
plotly>=5.17.0
requests>=2.31.0
pandas>=2.0.0
numpy>=1.24.0
joblib>=1.3.0
scikit-learn==1.7.2
shap==0.49.1
lightgbm==4.6.0
beautifulsoup4>=4.12.0
lxml>=4.9.0
python-whois>=0.9.0
scipy
